.App {
  text-align: center;
}

.button {
  background-color:  #ECEFF5;
  border: 1px solid rgb(69, 6, 82);
  border-radius: 4px;
  color: black;
  padding: 15px 32px;
  margin: 0.1em;
  margin-bottom: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 15em;
}

.table {
  margin: auto;
  background: #ECEFF5;
  padding: 1rem;
  border: 1px solid black;
}

.case {
  display: inline-block;
  margin-bottom: -9px;
  margin-left: -1px;
}

.icon {
  width: 25px;
  height: 25px;
}

.head {
  display: inline;
}

.allHead,
.case {
  background-color: #ECEFF5;
}